<!DOCTYPE html>
<html  lang="ro">
    <head>
        <meta name="keywords" content="Sneakers, adidasi, accesorii, Jordan, Nike, fotbal , baschet">
        <meta name="description" content="Site stil magazin de sneakersi, incaltaminete comoda de strada si pentru sport si obiecte pentru ingrijirea lor">
        
        <title>Sneaker Van</title>
        <%- include("../fragmente/head") %>
             
        
    </head>
    <body>
    <%- include("../fragmente/header") %>
    

    <main>
        <section id="main-produse">
            <h2>Pagină produs</h2>
                <article id="art-produs">
                    <h3><span class="nume"><%- locals.prod.nume %></span></h3>
                    <p>Pret: <span class="pret"><%- locals.prod.pret %> </span></p>
                    <p>Descriere: <span class="descriere"><%- locals.prod.descriere %> </span></p>
                    <p class="Brand">Brand: <span class="val-brand"><%- prod.tip_produs%></span></p>
                    <p class="culoare">Culori: <span class="val-culori"><%- prod.culori%></span></p>
                    <p class="marimi">Marimi:<span class="val-marimi"><%- prod.marimi%></span></p>
                    <%if( - prod.rezerva_sireturi){ %>
                    <p class="sireturi">Sireturi de rezerva: <span class="val-sireturi">Da</span></p>
                    <%} else {%>
                    <p class="sireturi">Sireturi de rezerva: <span class="val-sireturi">Nu</span></p>
                    <%}%>
                    <p>Data adăugare: <span class="categorie"><%- locals.prod.data_adaugare %> </span></p>
                    <figure class="imag-produs">
                        <img src="/resurse/img/produse/<%- prod.imagine %>" style="width:25%;height:auto;" alt="[imagine <%- prod.nume %>]" />
                    </figure>    
                </article>
            
        </section>
    </main>

    <div id="footer">
        <%- include("../fragmente/footer") %>
        </div>   
    </body>
</html>